* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  font-family: "Raleway", sans-serif;
  height: 10000px;
}

.container {
  max-width: 140rem;
  padding: 1.5rem;
  margin: 0 auto;
}

/*COMPONENTS*/
.header {
  background: hsl(293.51, 54.41%, 26.67%);
  position: relative;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.header .container {
  transition: 0.5s ease;
}
.header.white {
  background: transparent;
}
.header.white .container {
  background: blue;
  border-radius: 3rem;
  margin-top: 2rem;
  transition: 0.5s ease;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .branding {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header .branding img {
  width: 4rem;
}
.header .branding h3 {
  color: hsl(0, 0%, 100%);
  font-size: 3rem;
}
.header .branding ul {
  display: none;
}
@media screen and (max-width: 500px) {
  .header__nav {
    position: absolute;
    background: hsl(0, 0%, 100%);
    top: 0rem;
    right: -100rem;
    width: 100%;
    height: 100vh;
    transition: 0.5s ease;
  }
  .header__nav img {
    padding: 2rem;
    width: 15rem;
  }
  .header__nav ul.nav {
    flex-direction: column;
    display: flex;
    margin-top: 6rem;
  }
  .header__nav ul.nav li {
    padding: 2rem;
  }
  .header__nav ul.nav li a {
    display: flex;
    font-size: 2rem;
    color: hsl(0, 0%, 0%);
    align-items: center;
    justify-content: space-between;
  }
  .header__nav ul.nav li a i {
    color: hsl(0, 0%, 0%);
    transition: 0.5s ease;
  }
  .header__nav ul.nav li a i.open {
    transform: rotate(90deg);
    transition: 0.5s ease;
  }
  .header__nav ul.drop {
    background: hsl(0, 0%, 100%);
    max-height: 0rem;
    overflow: hidden;
    margin: 0 3rem;
  }
  .header__nav ul.drop li a {
    font-size: 1.5rem;
  }
  .header__nav ul.drop.open {
    max-height: 50rem;
    transition: 0.5s ease;
  }
}
.header__nav__btn {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  position: absolute;
  width: 100%;
  padding: 2rem;
  bottom: 3rem;
}
.header__nav.open {
  right: 0rem;
  transition: 0.5s ease;
}
.header__actions {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header__actions a i {
  color: hsl(0, 0%, 100%);
}
.header__actions .toggle__menu {
  z-index: 999;
}
.header__actions .toggle__menu span {
  width: 3rem;
  height: 0.3rem;
  background-color: hsl(0, 0%, 100%);
  display: block;
  border-radius: 5rem;
}
.header__actions .toggle__menu span:nth-child(2) {
  margin: 0.3rem 0;
}
.header__actions .toggle__menu.open span {
  background-color: hsl(0, 0%, 0%);
}
.header__actions .toggle__menu.open span:first-child {
  transform: translateY(10px) rotate(225deg);
  transition: 0.5s ease;
}
.header__actions .toggle__menu.open span:last-child {
  transform: translateY(-2px) rotate(-225deg);
  transition: 0.5s ease;
}
.header__actions .toggle__menu.open span:nth-child(2) {
  opacity: 0;
}
.header__actions__btn {
  display: none;
}
@media screen and (min-width: 940px) {
  .header__nav {
    display: none;
  }
  .header .branding ul {
    display: flex;
    gap: 2rem;
    margin-left: 5rem;
  }
  .header .branding ul li {
    transition: 0.5s ease;
  }
  .header .branding ul li a {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .header .branding ul li a i {
    font-size: 1rem;
  }
  .header .branding ul li:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
  }
  .header__actions .toggle__menu {
    display: none;
  }
  .header__actions__btn {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  .header__actions__btn a.sign {
    color: hsl(0, 0%, 100%);
  }
}

.btn {
  display: inline-block;
  padding: 1.5rem 1rem;
  border: 1px solid transparent;
  color: hsl(0, 0%, 0%);
  font-weight: 550;
  position: relative;
  border-radius: 1rem;
}
.btn.bg--primary {
  background: hsl(293.51, 54.41%, 26.67%);
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 100%);
}
.btn.bg--primary::before {
  content: "";
  width: 0%;
  height: 100%;
  background-color: hsl(0, 0%, 100%);
  transform-origin: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease;
  border-radius: 1rem;
  z-index: -1;
}
.btn.bg--primary:hover::before {
  width: 100%;
  transition: 0.5s ease;
}
.btn.bg--primary:hover {
  color: hsl(293.51, 54.41%, 26.67%);
  z-index: 999;
  border: 1px solid hsl(293.51, 54.41%, 26.67%);
  transition: 0.5s ease;
}
.btn.bg--light {
  background: hsl(0, 0%, 100%);
  color: hsl(293.51, 54.41%, 26.67%);
  border: 1px solid hsl(293.51, 54.41%, 26.67%);
}
.btn.bg--light::before {
  content: "";
  width: 0%;
  height: 100%;
  background-color: hsl(293.51, 54.41%, 26.67%);
  transform-origin: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s ease;
  border-radius: 1rem;
  z-index: -1;
}
.btn.bg--light:hover::before {
  width: 100%;
  transition: 0.5s ease;
}
.btn.bg--light:hover {
  color: hsl(0, 0%, 100%);
  z-index: 999;
  border: 1px solid hsl(0, 0%, 100%);
  transition: 0.5s ease;
}

.bannerbtn {
  display: inline-block;
  padding: 1.5rem 1rem;
  border: 1px solid transparent;
  color: hsl(0, 0%, 0%);
  font-weight: 550;
  position: relative;
  border-radius: 1rem;
}
.bannerbtn.bg--email {
  background: hsl(0, 0%, 100%);
  color: hsl(293.51, 54.41%, 26.67%);
  border: 1px solid hsl(0, 0%, 100%);
}
.bannerbtn.bg--email:hover {
  color: hsl(293.51, 54.41%, 26.67%);
  border: 1px solid hsl(293.51, 54.41%, 26.67%);
}
.bannerbtn.bg--google {
  background: skyblue;
  color: hsl(0, 0%, 100%);
  border: 1px solid skyblue;
}

.banner {
  background: hsl(293.51, 54.41%, 26.67%);
  padding-top: 10rem;
}
.banner .container {
  padding-bottom: 0rem;
}
.banner__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.banner__text {
  text-align: center;
  margin: 0 1rem;
}
.banner__text h1 {
  font-size: 4rem;
  color: #ffffff;
  line-height: 1;
}
.banner__text h1 span {
  color: #ffa700;
}
.banner__text p {
  color: #ffffff;
  margin: 1.5rem 0;
}
.banner__btn {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}
.banner__btn a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.banner__btn a img {
  width: 3rem;
  position: absolute;
  left: 0;
  margin-left: 1rem;
  background-color: hsl(0, 0%, 100%);
  height: 3rem;
  padding: 0.5rem;
}
.banner__text2 {
  display: none;
}
.banner__video {
  margin-top: 2rem;
}
.banner__video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 940px) {
  .banner .container {
    padding-bottom: 5rem;
  }
  .banner__wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    gap: 10rem;
  }
  .banner__text h1 {
    text-align: left;
    font-size: 6rem;
  }
  .banner__text p {
    text-align: justify;
    font-size: 2rem;
  }
  .banner__btn {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 2rem;
  }
  .banner__btn a {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 100%;
  }
  .banner__text2 {
    display: flex;
    margin: 2rem 0;
    color: #ffffff;
    font-size: 2rem;
  }
  .banner__video video {
    width: 100%;
    height: 100%;
  }
}

.comp {
  background: hsl(34, 42%, 93%);
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.comp__wrapper {
  display: grid;
  align-items: center;
}
.comp__text p {
  font-weight: bold;
  margin: 0 3rem;
  text-align: center;
}
.comp__img {
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: 30rem;
  flex-wrap: wrap;
}
.comp__img img {
  width: 8.5rem;
}/*# sourceMappingURL=main.css.map */